fastapi
uvicorn
pydantic
python-dotenv
cors
groq
spacy
motor
dnspython
httpx
python-multipart
sentence-transformers
numpy
passlib[bcrypt]
email-validator
certifi
psutil
playwright
pyautogui
pygetwindow
Pillow
send2trash
opencv-python
pyperclip

